/*** Parameters ***/

// Colors
$color-primary: #666;
$color-secondary: #888;
$color-light: #e0e0e0;
$color-lightest: #efefef;
$color-brand: #239bf6;
$color-text: #000;
$w: #fff;
$b: #000;

// Brand color
$color-facebook: #3b5998;
$color-feedly: #2bb24c;
$color-github: #333;
$color-google: #dc4e41;
$color-instagram: #3f729b;
$color-linkedin: #0077b5;
$color-medium: #00ab6b;
$color-messenger: #0084ff;
$color-rss: #f26522;
$color-spotify: #2ebd59;
$color-twitter: #55acee;

// Font Size
// Font Size
$base-font-size: 16;

// Spacing
$spacing-small: .75rem;
$spacing-single: 1rem;
$spacing-double: 2rem;
$spacing-triple: 3rem;
$spacing-big: 6rem;

// Media queries
// $desktop: 800px;
// $tablet: 600px;
// $mobile: 480px;

// Font Family
$sans-serif: 'Montserrat', sans-serif;
$serif: 'Orbitron', sans-serif;

// Animation
$anime-in: .4s;
$anime-out: .5s;
