.btn {
    display: inline-block;
    width: auto;
    height: auto;
    border: none;
    font-size: 25px;
    color: $w;
    background: #0785c7;
    font-family:  $sans-serif;
    font-weight: normal;
    letter-spacing: 0.01em;
    line-height: 2.35;
    border-radius: 40px;
    padding: 0 35px;
    text-indent: 0px;
    min-width: 240px;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    @include transition;

    @include breakpoint(desktop){
       min-width: 180px;
       font-size: 20px;
       padding: 0 25px;
     }

    // &:after {
    //     content: "\f105";
    //     position: absolute;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     right: 30%;
    //     font: normal normal normal 18px/1 FontAwesome;
    //     @include transition;
    //     text-indent: 0px;
    //     opacity: 0;
    // }

    // &:hover {
    //     text-indent: -10px;
    //     outline: none;
    //     box-shadow: none;

    //     &:after {
    //         right: 10%;
    //         opacity: 1;
    //         text-indent: 0px;
    //     }
    // }

}